
{% extends 'base.html.twig' %}

{% block body %}

<!-- H1 & H2 -->
<div id="Fullscreen_bloc">
<div class="container">
        <div class="row">
            <div class="col-0 col-sm-2 col-md-2 col-lg-3 col-xl-3"></div>

                <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-6">
                    <h1 class="titre_bloc1">WEB DEVELOPER</h1>
                    <h2 class="titre2_bloc1">SPECIALTY FRONT-END</h2>
                </div>

            <div class="col-0 col-sm-2 col-md-2 col-lg-3 col-xl-3"></div>
        </div>
</div>

<!-- BUTTON -->
<div class="container">
        <div class="row">
            <div class="col-0 col-sm-1 col-md-1 col-lg-2 col-xl-2"></div>

                <div class="col-12 col-sm-10 col-md-10 col-lg-8 col-xl-8">

                    <div class="bouton_git">
                        <a target="blank" href="https://github.com/maximejanod"><button class="btn-head">Github</button></a>
                    </div>

                    <div class="bouton_linkedin">
                        <a target="blank" href="https://www.linkedin.com/in/maxime-janod/"><button class="btn-head">LinkedIn</button></a>
                    </div>

                </div>

            <div class="col-0 col-sm-1 col-md-1 col-lg-2 col-xl-2"></div>
        </div>
</div>

<!-- ECRAN -->
<div class="container">
        <div class="row">
            <div class="col-2 col-sm-3 col-md-3 col-lg-4 col-xl-4"></div>

                <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-4 block_ecran">
                    <div class="image__reponsive">
                        <img class="img-fluid" src="{{ asset ('build/images/responsive.png') }}" alt="Responsive image">
                    </div>
                </div>

            <div class="col-2 col-sm-3 col-md-3 col-lg-4 col-xl-4"></div>
        </div>
</div>

<!-- CHEVRON -->
<div class="container posBot">
        <div class="row posBott">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 center_chevron">
                    <a href="#Responsive"><div class="bloc_chevron">
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                    </div></a>
                </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
        </div>
</div>
</div> <!-- #Fullscreen_bloc -->

<!-- TECHNOLOGIE -->
<div id="Responsive">
<div class="container">
        <div class="row">
            <div class="col-0 col-sm-0 col-md-0 col-lg-0 col-xl-0"></div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                    <div class="TitreTechnologie">
                    <span class="TitreTechnologieStyle">&nbsp;JE PROGRAMME AVEC LES LANGAGES WEB&nbsp;</span>
                    </div>

                    <div class="technologieRound">

                    <figure class="snip1566">
                        <img src="{{ asset ('build/images/html5n.png') }}" alt="image logo html5" />
                        <figcaption><i class="ion-android-add"></i></figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1566">
                        <img src="{{ asset ('build/images/css3n.png') }}" alt="image logo css3" />
                        <figcaption><i class="ion-android-star-outline"></i></figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1566">
                        <img src="{{ asset ('build/images/jsnn.png') }}" alt="image logo javascript" />
                        <figcaption><i class="ion-android-star-outline"></i></figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1566">
                        <img src="{{ asset ('build/images/sassn.png') }}" alt="image logo sass" />
                        <figcaption><i class="ion-android-stopwatch"></i></figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1566">
                        <img src="{{ asset ('build/images/bootstrap2.png') }}" alt="image logo bootstrap" />
                        <figcaption><i class="ion-android-add"></i></figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1566">
                        <img src="{{ asset ('build/images/twign.png') }}" alt="image logo twig" />
                        <figcaption><i class="ion-android-star-outline"></i></figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1566">
                        <img src="{{ asset ('build/images/phpnn.png') }}" alt="image logo php" />
                        <figcaption><i class="ion-android-star-outline"></i></figcaption>
                        <a href="#"></a>
                    </figure>

                    <figure class="snip1566">
                        <img src="{{ asset ('build/images/symfonyn.png') }}" alt="image logo symfony" />
                        <figcaption><i class="ion-android-stopwatch"></i></figcaption>
                        <a href="#"></a>
                    </figure>

                    </div>
                </div>

            <div class="col-0 col-sm-0 col-md-0 col-lg-0 col-xl-0"></div>
        </div>
</div>
</div><!-- #Technologie -->

<!-- PROJETS -->
<div id="background_projets">
<div class="container centreProjet">
        <div class="row">
            <div class="col-0 col-sm-0 col-md-0 col-lg-0 col-xl-0"></div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="TitreMesProjets">
                    MES PROJETS
                </div>

            <div id="staff-wrapper">
            <div class="staff__block">
                <div class="card slow_zoom">
                <div class="text_holder">
                    <div class="text_holder_outer">
                    <div class="text_holder_inner">
                        <h2 class="titreCard">
                        BOMBERMAN
                        </h2>
                        <a href="https://github.com/maximejanod/bomberman" target="_blank"><img class="img-fluid" src="{{ asset ('build/images/githubico.png') }}" alt="icone github"></a>
                    </div>
                    </div>
                </div>
                <div class="icons_holder"></div>
                <div class="image_shader"></div>
                <div class="staff_image_holder">
                    <span class="image">
                    <img class="img-fluid" src="{{ asset ('build/images/bomberman.jpg') }}" alt="image projet bomberman">
                    </span>
                </div>
                </div>
                <div class="card slow_zoom">
                <div class="text_holder">
                    <div class="text_holder_outer">
                    <div class="text_holder_inner">
                        <h2 class="titreCard">
                        MOVIES
                        </h2>
                        <a href="https://github.com/maximejanod/movies" target="_blank"><img class="img-fluid" src="{{ asset ('build/images/githubico.png') }}" alt="icone github"></a>
                    </div>
                    </div>
                </div>
                <div class="icons_holder"></div>
                <div class="image_shader"></div>
                <div class="staff_image_holder">
                    <span class="image">
                    <img class="img-fluid" src="{{ asset ('build/images/movies.jpg') }}" alt="image projet movies">
                    </span>
                </div>
                </div> 
                <div class="card slow_zoom">
                <div class="text_holder">
                    <div class="text_holder_outer">
                    <div class="text_holder_inner">
                        <h2 class="titreCard">
                        EXPLORATEUR
                        </h2>
                        <a href="https://github.com/maximejanod/explorateur-de-fichier" target="_blank"><img class="img-fluid" src="{{ asset ('build/images/githubico.png') }}" alt="icone github"></a>
                    </div>
                    </div>
                </div>
                <div class="icons_holder"></div>
                <div class="image_shader"></div>
                <div class="staff_image_holder">
                    <span class="image">
                    <img class="img-fluid" src="{{ asset ('build/images/exxplorateur.jpg') }}" alt="image projet explorer">
                    </span>
                </div>
                </div> 
                <div class="card slow_zoom">
                <div class="text_holder">
                    <div class="text_holder_outer">
                    <div class="text_holder_inner">
                        <h2 class="titreCard">
                        POWER CAR
                        </h2>
                        <a href="https://github.com/maximejanod/power_car" target="_blank"><img class="img-fluid" src="{{ asset ('build/images/githubico.png') }}" alt="icone github"></a>
                    </div>
                    </div>
                </div>
                <div class="icons_holder"></div>
                <div class="image_shader"></div>
                <div class="staff_image_holder">
                    <span class="image">
                    <img class="img-fluid" src="{{ asset ('build/images/powercar.jpg') }}" alt="image projet power_car">
                    </span>
                </div>
                </div> 
            </div>
            </div>

            </div>

            <div class="col-0 col-sm-0 col-md-0 col-lg-0 col-xl-0"></div>
    </div>
</div>
</div><!-- #Projets -->

<!-- TIMELINE -->
<div id="background_timeline">
<div class="container">
        <div class="row">
            <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2"></div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">

                <div class="TitreTimeline">
                    <span class="TitreTimeLineStyle">&nbsp;MON PARCOURS&nbsp;</span>
                </div>

                    <ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">DEVELOPER FRONT-END</span>
				<span class="time-wrapper"><span class="time">2018 - 2019</span></span>
			</div>
			<div class="desc">OxibisGroup, Morbier</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">STAGE OXIBISGROUP</span>
				<span class="time-wrapper"><span class="time">2018</span></span>
			</div>
			<div class="desc">Developer web, Morbier</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">ACCESS CODE SCHOOL</span>
				<span class="time-wrapper"><span class="time">2018</span></span>
			</div>
			<div class="desc">École du Numérique, Lons le Saunier</div>
		</div>
	</li>

    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">BAC PRO PDL</span>
				<span class="time-wrapper"><span class="time">2014 - 2015</span></span>
			</div>
			<div class="desc">Jeunesse et Sport, Maison National de l’Eau et de la Pêche Ornans</div>
		</div>
	</li>

    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">BEPA</span>
				<span class="time-wrapper"><span class="time">2010 - 2011</span></span>
			</div>
			<div class="desc">Aménagement du Territoire, Lycée Professionnel Montmorot</div>
		</div>
	</li>
  
</ul>
                </div>

            <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2"></div>
        </div>

</div>
</div>

{% endblock %}